.OptionsContainer {
  width: 100%;
  height: 50vh;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textbox-container {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.textbox-container h2 {
  margin-top: 0;
}

.textbox-container label {
  display: block;
  margin-bottom: 5px;
}

.textbox-container input[type="text"],
.textbox-container input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.textbox-container input[type="text"] {
  width: 300px;
  /* Adjust the width as needed */
}